MUX_TOKEN_ID=
MUX_TOKEN_SECRET=
MUX_WEBHOOK_SECRET=
MUX_MAX_RESOLUTION_TIER=1080p
MUX_VIDEO_QUALITY=plus
API_PORT=4000
DEMO_PLAYBACK_IDS=
DEAL_PAYMENT_DUE_AFTER_SEC=172800
PAYMENT_OVERDUE_SWEEP_ENABLED=true
PAYMENT_OVERDUE_SWEEP_INTERVAL_SEC=60
